YumaPos.Tests.Load.Test/Service References/TestServiceReference/TestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56879/TestService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56879/TestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56879/TestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/YumaPos.Tests.Load.Infrastucture.Dto" />
      <xsd:import schemaLocation="http://localhost:56879/TestService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITestService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ITestService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTasks" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTasksResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_CancelMyTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelMyTasks" />
  </wsdl:message>
  <wsdl:message name="ITestService_CancelMyTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelMyTasksResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_Report_InputMessage">
    <wsdl:part name="parameters" element="tns:Report" />
  </wsdl:message>
  <wsdl:message name="ITestService_Report_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportResponse" />
  </wsdl:message>
  <wsdl:portType name="ITestService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/Register" message="tns:ITestService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/RegisterResponse" message="tns:ITestService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/GetTasks" message="tns:ITestService_GetTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/GetTasksResponse" message="tns:ITestService_GetTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelMyTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/CancelMyTasks" message="tns:ITestService_CancelMyTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/CancelMyTasksResponse" message="tns:ITestService_CancelMyTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Report">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/Report" message="tns:ITestService_Report_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/ReportResponse" message="tns:ITestService_Report_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITestService" type="tns:ITestService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/ITestService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTasks">
      <soap:operation soapAction="http://tempuri.org/ITestService/GetTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelMyTasks">
      <soap:operation soapAction="http://tempuri.org/ITestService/CancelMyTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report">
      <soap:operation soapAction="http://tempuri.org/ITestService/Report" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestService">
    <wsdl:port name="BasicHttpBinding_ITestService" binding="tns:BasicHttpBinding_ITestService">
      <soap:address location="http://localhost:56879/TestService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>