YumaPos.Tests.Load.Test/Service References/TestServiceReference/TestService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56879/TestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/YumaPos.Tests.Load.Infrastucture.Dto" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxInstance" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/YumaPos.Tests.Load.Infrastucture.Dto" minOccurs="0" name="GetTasksResult" nillable="true" type="q1:ArrayOfTestTaskDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Report">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/YumaPos.Tests.Load.Infrastucture.Dto" minOccurs="0" name="report" nillable="true" type="q2:ReportDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>