YumaPos.Tests.Load.Test/Service References/TestServiceReference/TestService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/YumaPos.Tests.Load.Infrastucture.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YumaPos.Tests.Load.Infrastucture.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56879/TestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:56879/TestService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfTestTaskDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestTaskDto" nillable="true" type="tns:TestTaskDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestTaskDto" nillable="true" type="tns:ArrayOfTestTaskDto" />
  <xs:complexType name="TestTaskDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorizationAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duration" type="ser:duration" />
      <xs:element minOccurs="0" name="EmployeeLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeePassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxInterval" type="ser:duration" />
      <xs:element minOccurs="0" name="MinInterval" type="ser:duration" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Scenarios" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="ServiceAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
      <xs:element minOccurs="0" name="TenantAlias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerminalId" type="ser:guid" />
      <xs:element minOccurs="0" name="TerminalIsRegistered" type="xs:boolean" />
      <xs:element minOccurs="0" name="TerminalToken" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestTaskDto" nillable="true" type="tns:TestTaskDto" />
  <xs:complexType name="ReportDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportDto" nillable="true" type="tns:ReportDto" />
</xs:schema>